body {
    background-color: #f2f2f2;
	/* Use a system font, if none are available use an available sans-sarif   font */
    font-family: 'Montserrat', sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #3a3b3c;
  font-weight:lighter
}

section.board {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  border-radius: 25%;
  margin: 2px;
}
#reset-button{
  margin-top: 75px;
  width:fit-content;
  margin: 20px auto;
}
#message{
  margin: 20px auto 50px auto;
}